h1 {
    color: Indigo;
    text-align: center;
}
h3 {
    color: Indigo;
    text-align: center;
}
#rooms{
    position: absolute;
    left: 40px;
}
#closed{
    position: absolute;
    right : 40px;
}
#single{
    position: absolute;
    right: 40px;
}
#joinGame{
    position: absolute;
    left:40px
}
#createGame{
    position: absolute;
    left:40px
}
body{
    background-color: beige; /* what color to make the background */
    margin: 0 auto;
    padding: 0;
    font:12px/16px Verdana, sans-serif; /* default font */
}
